@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, Roboto;
}

/*multi-use classes*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

.text-centered {
    text-align: center;
}

.div-margin {
    margin: 30px 0;
}

.btn-basic-style {
    border-radius: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    /* font-weight: bolder; */
}

.container-transform-translate {
    position: relative;
}

.transform-translate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-size-position-repeat {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*end-multi-use classes*/

/*header*/
header {
    height: 80px;
    background-color: blue;
}

.header-container {
    width: 80%;
    height: 100%;
    margin: auto;
}

#discord-logo-container, #header-btn-container {
    width: 10%;
    height: 100%;
}

#header-nav-container {
    width: 80%;
    height: 100%;
}

#header-nav-container a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 20px;
}

#header-nav-container a:hover {
    text-decoration: underline;
}

/*section-1*/
#section-1 {
    height: 400px;
    color: white;
    background-image: url("../img/jumbo.png");   
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}

















/*multi-use classes*/
.container-80-100 {
    width: 80%;
    height: 100%;
    margin: auto;
}

.div-inline-block {
    display: inline-block;
}





.container-50-100 {
    width: 50%;
    height: 100%;
    margin: auto;
}

.div-20-100 {
    width: 20%;
}

.div-50-100 {
    width: 50%;
}






/*end multi-use classes*/


#header-center-div {
    margin: 0 5%;
}

/*da rivedere*/
header div {
    line-height: 10vh;
}
/**/




#section-2 {
    height: 50vh;
}

#container-section-2, #container-section-3, #container-section-4 {
    padding-top: 50px;
}

.img-style {
    width: 70%;
}

.section-text-style {
    width: 30%;
    font-size: 1.3rem;
}

#section-5 {
    height: 50vh;
    position: relative;
}

.img-5 {
    max-width: 30%;
}

footer {
    background-color: black;
    height: 80vh;
}

.footer-container-float div {
    width: 20%;
    float: left;
    color: white;
}