@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, Roboto;
}

/*multi-use classes*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-centered {
    text-align: center;
}

.div-margin {
    margin: 30px 0;
}

.btn-basic-style {
    border-radius: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white:hover {
    background-color: aquamarine;
}

.btn-black:hover {
    background-color: aquamarine;
    color: black;
}

.container-transform-translate {
    position: relative;
}

.transform-translate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-size-position-repeat {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.central-sections {
    height: 400px;
    width: 80%;
    height: 100%;
    margin: 80px auto 0 auto;
}
/*end-multi-use classes*/

/*header*/
header {
    height: 80px;
    background-color: #3161E0;
}

#header-container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.discord-logo-container, #header-btn-container {
    width: 10%;
    height: 100%;
}

#header-nav-container {
    width: 80%;
    height: 100%;
}

#header-nav-container div{
    width: 100%;
}

#header-nav-container a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 20px;
}

#header-nav-container a:hover {
    text-decoration: underline;
}

/*section-1*/
#section-1 {
    height: 400px;
    color: white;
    background-image: url("../img/jumbo.png");   
}

#container-section-1 {
    font-size: 1.4rem;
}

/*section-2-3-4*/
.central-section-text-style {
    width: 30%;
    font-size: 1.4rem;
} 
.central-section-img-style {
    height: 100%;
}

.text-align-right {
    text-align: right;
}

/* #section-3-bg {
    background-color: red;
} */

/*section-5*/
#section-5 {
    margin: 50px 0;
    height: 800px;
    /* background-color: red; */
}

#section-5-h2-p-container {
    font-size: 1.4rem;
}

#section-5-h2, #section-5-h3 {
    margin-bottom: 20px;
}

#section-5-h3-button-container {
    background-image: url("../img/stars.svg");
    background-position: top;
    background-repeat: no-repeat;
    font-size: 1.4rem;
}

/*footer*/
footer {
    background-color: #23272A;
    padding: 50px 0;
    height: 400px;
}

#footer-container {
    width: 80%;
    height: 100%;
    margin: auto;
}

#top-part-footer {
    margin-bottom: 20px;
}

#top-part-footer h2, #top-part-footer h4 {
    color: #8EA1E1;
}

#top-part-footer ul {
    margin-top: 10px;
    color: white;
    list-style: none;
}

.top-part-footer-div-40-100 {
    width: 40%;
}

.top-part-footer-div-10-100 {
    width: 10%;
    margin-left: 5%;
}

#footer-container hr {
    border-color: #8EA1E1;
}

#bottom-part-footer {
    margin-top: 20px;
}

#ita-flag {
    height: 12px;
}























